.mat-badge-content {
    font-weight: 400;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -5px;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -5px;
}